<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="description" content="overview &amp; stats">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title - 搬运工管理后台 </title>

    <!-- bootstrap & fontawesome -->

    @System.Web.Optimization.Styles.Render("~/bundles/css")

    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootScripts")
    @System.Web.Optimization.Scripts.Render("~/bundles/aceScript")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    @System.Web.Optimization.Scripts.Render("~/bundles/pluginScripts")

    @RenderSection("header", false)
</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            @*<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                <span class="sr-only">切换侧边栏</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@

            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        搬运工管理后台
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="/Content/assets/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>欢迎光临,</small>
                                <small data-bind="text:NodeName">Jason</small>
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="/Home/Logout" id="logout">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    退出
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container 登陆信息 -->
    </div>

    <div class="main-container">
        <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
        </script>
        <!-- #section:basics/sidebar 基础模块/侧边栏 -->
        @Html.Partial("~/Views/Shared/_PartialMenu.cshtml")

        <div class="main-content">
            @RenderSection("breadcrumb", true)<!-- /.breadcrumbs 导航栏-->

            <div class="page-content">
                <!-- /.ace-settings-container -->
                <div class="page-content-area">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS 页内容-->
                            @RenderBody()
                            <!-- PAGE CONTENT ENDS 页内容结束-->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content-area -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content 设置浮标-->
        <!-- /.footer 脚注-->

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a><!-- 回到顶部图标 -->
    </div><!-- /.main-container -->

    <script type="text/javascript">
        @*function LayoutViewModel() {
            self = this;
            self.Data = ko.observableArray([]);
            self.BadgeNum = ko.observable(0);
            self.NodeName = ko.observable("");
        }
        var layoutViewModel = new LayoutViewModel();
        $(function () {
            ko.applyBindings(layoutViewModel, document.getElementById("navbar"));

            layoutViewModel.Data([
                { TaskName: 'Software Update', Percentage: '65%' },
                { TaskName: 'Withdrawal Money', Percentage: '100%' }
            ])
            layoutViewModel.BadgeNum(layoutViewModel.Data().length);
            layoutViewModel.NodeName("@Winner.Framework.MVC.ApplicationContext.Current.User.UserName");
        });
        bootbox.setDefaults({ locale: "zh_CN" });*@

    </script>
    @RenderSection("scripts", false)
</body>
</html>
